<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Odin | Inventory App</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>All Albums</h1>
    <main class="albums-list">
      <ul>
        <% albums.forEach(album => { %>
        <li>
          <a href="/albums/<%= album.album_id %>">
            <strong><%= album.album_title %></strong>
            <br />
            <small><%= album.artist_name%></small>
          </a>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
